.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Button {
  background-color: "#84e09d";
  color: "white";
  padding-left: 20;
  padding-right: 20;
  padding-top: 10;
  padding-bottom: 10;
}
.p {
  color: "#b60000";
  font-weight: "bold";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #84e09d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: "10px";
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
